<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-4 mx-auto">
  
     
<!------ Include the above in your HEAD tag ---------->
        <div class="span12">
    		<div class="thumbnail center well well-small text-center">
                <h2>Newsletter</h2>
                
                <p>Subscribe to our daily Newsletter and stay tuned to get Satta King Update.</p>
                
                <div class="input-group">
                  <input  type="text" class="form-control" placeholder="Recipient's valid email" aria-label="Recipient's username" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button" (click)="saveEmail()">Suscribe</button>
                  </div>
                </div>
            </div>    
 
</div>
  
        </div>
        <!-- Grid column -->
  
  
        <!-- Grid column -->
       
        <!-- Grid column -->
  
  
        <!-- Grid column -->
        
        <!-- Grid column -->
  
  
        <!-- Grid column -->
       
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
   
  
    <!-- Call to action -->
    
    <!-- Call to action -->
 
  
    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <i class="fab fa-facebook-f"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <i class="fab fa-twitter"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1">
          <i class="fab fa-google-plus-g"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <i class="fab fa-linkedin-in"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <i class="fab fa-dribbble"> </i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->