<app-navbar></app-navbar>
<div class="card">
  <div class="card-header">
    Values
  </div>
  <div class="card-body">
    <form class="row">
      <!-- <div class="col">
        <select required id="plcae" class="form-control"  name="placeName" (change)="onChange($event)">
          <option [ngValue]="undefined" disabled selected> Select Place </option>
          <option *ngFor="let name of placeList" [value]=" name">
            {{ name }}
          </option>

        </select>
      </div> -->
      <div class="col">
        <input type="text" class="form-control" placeholder="Enter the value " [(ngModel)]="values.placeValue"
          name="placeValue" />
      </div>
      <div class="form-group">
        <button (click)="modo()"><i class="fas fa-plus"></i></button>
      </div>
  </form>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>
          SN.
        </th>
       <TH>
         Place Name
       </TH>
       <th>
        Value
       </th>
       <th>
      Updated On
       </th>
       <th>
         Update
       </th>
     
      </tr> 
      </thead>
      <tbody>
        <tr *ngFor="let list of valueTable | paginate: { itemsPerPage: 30, currentPage: p };
        let i = index">

        <th scope="row">{{ 30 * (p - 1) + i + 1 }}</th>

<td>
{{  list.placeName}}
</td>
<td>
  {{list.placeValue}}
</td>
<td>
  {{list.updatedAt  |  amDateFormat:'lll'}}
</td>
<td>
  <i class="fas fa-edit"></i>
</td>
        </tr>
      </tbody>
      </table>
</div>
</div>