<app-navbar></app-navbar>
<div class="card">
  <div class="card-header">
    Values
  </div>
  <div class="card-body">

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>
            SN.
          </th>
          <TH>
            Place Name
          </TH>
          <th>
            Value
          </th>
          <th>
            Updated On
          </th>
          <th>
            Update
          </th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let list of valueTable | paginate: { itemsPerPage: 30, currentPage: p };
        let i = index">

          <th scope="row">{{ 30 * (p - 1) + i + 1 }}</th>

          <td>
            {{  list.placeName}}
          </td>
          <td>
            {{list.placeValue}}
          </td>
          <td>
            {{list.updatedAt  |  amDateFormat:'lll'}}
          </td>
          <td>
            <button type="button" class="btn btn-primary" data-toggle="modal" (click)="updateValue(list,i)"
            >
              <i class="fas fa-edit"></i>

            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>



</div>
<app-valuesfrom
  [passedUserValue]="editValue"
  (newData)="receivedData($event)"
></app-valuesfrom>

