<app-header></app-header>
<!-- <div class="modal fade" id="otpModel" tabindex="-1" role="dialog" aria-labelledby="otpModel" aria-hidden="false" data-backdrop="static">
    <div class="modal-dialog" id="otpModal" role="document">
        <div class="modal-content  bg-gradient">
            <div class=" modal-header ">
                <h5 class="modal-title text-black " id="exampleModalLabel "> Subscribe to our newsletter.</h5>
                <button type="button " class="close " data-dismiss="modal " (click)="closeSubscribeModalBox()" aria-label="Close ">
            <span aria-hidden="true ">&times;</span>
          </button>
            </div>
            <div class="modal-body ">
                <h6 class="text-black ">Get the latest satta value instantly in your email.</h6>
                <div class="input-group mb-3 " *ngIf="!enterOtpFlag">
                    <input type="text " [(ngModel)]="emailForSubscription " class="form-control " placeholder="Please enter your email address. " aria-label="Recipient 's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-danger" type="button" (click)="generateToken()">Submit</button>
                    </div>
                </div>
                <div class="input-group mb-3 " *ngIf="enterOtpFlag">
                    <h6 class="text-black ">We have sent the otp to your email.Please check it and enter your email here.</h6>
                    <input type="text " class="form-control " [(ngModel)]="enteredOtpVale" placeholder="Please enter your otp . " aria-label="Recipient 's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-danger" type="button" (click)="checkOtp()">Valid Otp</button>
                    </div>
                </div>
                <span class="text-danger" *ngIf="emailForSubsFlag">Please enter the valid email</span>
                <span class="text-danger" *ngIf="enterOtpFlag">{{otpErrorMessage}}</span>

            </div>
            <div class="modal-footer" *ngIf="enterOtpFlag">
                <div class="input-group mb-3 ">

                    <input readonly type="text " [(ngModel)]="emailForSubscription " class="form-control " aria-label="Recipient 's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-primary" (click)="goBack()">Correct</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="container">
    <div class="card text-center">
        <div class="card-body mb-3 " id="cardHigh">
            <h5>सीधे सट्टा-किंग कंपनी से खबर देखने के लिए रुके रहिये</h5>
            <div class="row">

                <div *ngFor="let list of todayTable" class="col-md-3">
                    <div *ngIf="list.highlight">
                        <h2 class="gamename">{{list.placeName}}</h2>
                        <div class="open">{{list.placeValue}}</div>
                        <button class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter" (click)=sendList(list)>{{list.placeAbbvr}}Chart</button>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="card-header" id="marq">
        <!-- <div class="marquee">
            <div>
                <span>
             </span>
            </div>
        </div> -->
        <div class="example1">
            <h3> {{fmarqueList}}
            </h3>
        </div>
    </div>
    <div class="row">

        <div class="col-sm-6">
            <div class="card">
                <div class="card-header text-danger ">
                    <i class="fa fa-align-justify"></i> {{today}} Satta King Value
                </div>
                <div class="card-body">
                    <div class="table-responsive table-bordered  table-striped movie-table">
                        <table class="table table-hover" id="ssd" style="background-color:#d3d3d3;">
                            <thead class="text-dark" id="tableHead">
                                <tr>
                                    <th scope="col">Place </th>
                                    <th scope="col">Value </th>

                                </tr>
                            </thead>

                            <tbody style="border:1px solid transparent; background-color:white; color:#2a2a2a; text-align: left;">


                                <tr *ngFor="let list of todayTable" [ngStyle]="{backgroundColor: getBackgroundColor(list.highlight)}">
                                    <td>{{list.placeName}}-{{list.placeAbbvr}} <a id="record" data-toggle="modal" data-target="#exampleModalCenter" style="float: right;position: relative;" (click)=sendList(list)>Record</a><br>{{list.updatedAt | date:"HH:mm"
                                        }}
                                    </td>
                                    <td>{{list.placeValue}}</td>


                                </tr>

                            </tbody>
                        </table>

                    </div>


                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header text-danger

      ">
                    <i class="fa fa-align-justify text-danger"></i> {{yesterDay}} Satta King Value
                </div>
                <div class="card-body">
                    <div class="table-responsive table-bordered  table-striped movie-table" id="ssd">
                        <table class="table table-hover">
                            <thead class="  text-dark" id="tableHead">
                                <tr>
                                    <th scope="col">Place </th>
                                    <th scope="col">Value </th>

                                </tr>
                            </thead>

                            <tbody style="border:1px solid transparent; background-color:white; color:#2a2a2a; text-align: left;">
                                <tr *ngFor="let list of yesTerdayTable" [ngStyle]="{backgroundColor: getBackgroundColor(list.highlight)}">
                                    <td [id]="">{{list.placeName}}-{{list.placeAbbvr}} <a id="record" data-toggle="modal" data-target="#exampleModalCenter" style="float: right;position: relative;" (click)=sendList(list)>Record</a><br>{{list.updatedAt | date:"HH:mm"
                                        }}
                                    </td>
                                    <td>{{list.placeValue}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center bg-danger text-white p-2"> Today's Satta king results published in various sites </div>

    <div>

        <div class="row">
            <div class="col-sm-2 col-md-3 col-lg-4" *ngFor="let list of todaySiteList">

                <div class="card">

                    <div class="card-body">
                        <!-- <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Place</th>
              <th scope="col">Value</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let particular of list.siteValue; let i = index">
              <td>{{particular.place}}</td>
              <td>
                {{particular.value}}
              </td>
            </tr>



          </tbody>
        </table> -->

                        <div class="bg-gradient ">
                            <div class=" m-auto text-center ">

                                <div class=" princing-item red">
                                    <div class="pricing-divider ">
                                        <h1 id="editdSite" style="color: white;">{{list.siteName}}</h1>
                                        <h2 style="color: snow;">{{list.createdAt | amDateFormat:'lll'}}</h2>
                                        <svg class='pricing-divider-img' enable-background='new 0 0 300 100' height='100px' id='Layer_1' preserveAspectRatio='none' version='1.1' viewBox='0 0 300 100' width='300px' x='0px' xml:space='preserve' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg'
                                            y='0px'>
                      <path class='deco-layer deco-layer--1' d='M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
      c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z' fill='#FFFFFF' opacity='0.6'></path>
                      <path class='deco-layer deco-layer--2' d='M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
      c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z' fill='#FFFFFF' opacity='0.6'></path>
                      <path class='deco-layer deco-layer--3' d='M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
      H42.401L43.415,98.342z' fill='#FFFFFF' opacity='0.7'></path>
                      <path class='deco-layer deco-layer--4' d='M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
      c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z' fill='#FFFFFF'></path>
                    </svg>
                                    </div>
                                    <div class="card-body bg-white mt-0 shadow " style="position: relative;">
                                        <div class="d-flex justify-content-center">...</div>

                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        Place
                                                    </th>
                                                    <th>
                                                        Value
                                                    </th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <tr *ngFor="let particular of list.siteValue; let i = index">
                                                        <td> {{particular.place}}</td>
                                                        <td> {{particular.value}}
                                                        </td>

                                                    </tr>
                                            </tbody>

                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header text-white justify-content-center " style="background-color:aliceblue;color: red;">
            <label style="color: red;"> Satta King value of {{searchMonthDisplay }}</label>
            <!-- <button type="button" class="  text-danger" id="tableHead" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Click Here to search the value of places according to month</button> -->
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Pick the date</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                    </div>
                    <div class="modal-body">
                        <app-datepicker (change)="onChange($event)"></app-datepicker>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="SearchByMonth()">Search</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body" id="tb">
            <div class="table-responsive table-bordered movie-table">
                <table class="table ">


                    <tbody>
                        <tr>
                            <!-- <td *ngFor="let list of harion">{{list.placeValue}}</td>
              <td>{{list.placeValue}}</td> -->

                            <td>
                                <table class="table table-hover">

                                    <thead style="float:right;position: relative;">DSWR</thead>
                                    <tbody>
                                        <tr *ngFor="let list of harion">
                                            <td> {{list.updatedAt | amDateFormat:'ll'}}</td>

                                            <td>{{list.placeValue}}</td>

                                        </tr>

                                    </tbody>
                                </table>

                            </td>
                            <td>
                                <table class="table table-hover">
                                    <thead>FRBD</thead>
                                    <tbody>
                                        <tr *ngFor="let list of ads">
                                            <!-- <td> {{list.updatedAt | amDateFormat:'ll'}}</td> -->

                                            <td>{{list.placeValue}}</td>

                                        </tr>

                                    </tbody>
                                </table>
                            </td>
                            <td>
                                <table class="table table-hover">
                                    <thead>GZBD </thead>

                                    <tbody>
                                        <tr *ngFor="let list of deshawar">
                                            <!-- <td> {{list.updatedAt | amDateFormat:'ll'}}</td> -->
                                            <td>{{list.placeValue}}</td>

                                        </tr>

                                    </tbody>
                                </table>

                            </td>
                            <td>
                                <table class="table table-hover">
                                    <thead>GALI </thead>

                                    <tbody>
                                        <tr *ngFor="let list of deshawar">
                                            <!-- <td> {{list.updatedAt | amDateFormat:'ll'}}</td> -->
                                            <td>{{list.placeValue}}</td>

                                        </tr>

                                    </tbody>
                                </table>

                            </td>
                        </tr>
                    </tbody>

                </table>

            </div>
        </div>
        <div class="card-footer">
            <button type="button" class="  text-danger" id="tableHead" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Click Here to search the value of places according to month</button>

        </div>
    </div>
    <div>

        <div class="card-body">
            <h3 style="text-align:center;">Expert Tips </h3>

            <div>
                <p *ngFor="let list of paragraphList" style="text-align:center;font-style: italic;">
                    {{list}}
                </p>
            </div>
        </div>
    </div>

    <!-- <div style="position: relative;top: -64px;">

        <div class="fb-customerchat" page_id="100155738243159">
        </div>
    </div> -->




    <app-footer></app-footer>
    <app-place-model [passedUserValue]="sendName"></app-place-model>