<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Intents
        </div>
          <div class="card-body">
            <div class="table-responsive table-bordered movie-table">
              <table class="table-striped table table-bordered vertical">
                <thead style="color: white; font-weight: normal; background-color: #2a2a2a;" >
                  <tr>
                    <th  class="head">S.No.</th>
                    <th  class="head">Place </th>
                    <th  class="head">Value </th>

                  </tr>
                </thead>

                <tbody style="border:1px solid transparent; background-color:white; color:#2a2a2a; text-align: left;">
                

                   <tr>
                    <td style="padding: 14px;">02</td>
                    <td>WaLia</td>
                 
             </tr>

                </tbody>
              </table>

              </div>
  
  
          </div>
        </div>
      </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header" >
        <i class="fa fa-align-justify"></i> Intents
      </div>
        <div class="card-body">
          <div class="table-responsive table-bordered movie-table">
            <table class="table-striped table table-bordered vertical">
              <thead style="color: white; font-weight: normal; background-color: #2a2a2a;" >
                <tr>
                  <th  class="head">S.No.</th>
                  <th  class="head">Place </th>
                  <th  class="head">Value </th>

                </tr>
              </thead>

              <tbody style="border:1px solid transparent; background-color:white; color:#2a2a2a; text-align: left;">
                <tr>
                  <td style="padding: 14px;">02</td>
                  <td>WaLia</td>
               
           </tr>
              </tbody>
            </table>

            </div>


        </div>
      </div>
    </div>
  </div>
</div>
