<app-navbar></app-navbar>
<div class="card" >
  <div class="card-header">
    <button type="button" class="btn btn-secondary" (click)="addPlace()">Add place</button>
  </div>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Sn</th>
      <th scope="col">Place Name</th>
      <th scope="col">Place Abbvr</th>
      <th scope="col">Time</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>

    </tr>
  </thead>
  <tbody>
    <tr  *ngFor="
    let list of allPlaceList
      | paginate: { itemsPerPage: 30, currentPage: p };
      let i = index">
      <th scope="row">{{ 30 * (p - 1) + i + 1 }}</th>
      <td>{{list.placeName}}</td>
      <td>{{list.placeAbbvr}}</td>
      <td>{{list.placeTime}}</td>
      <td>
        <a
          (click)="editBind(list)"
        >
          <i class="fas fa-user-edit" style="font-size:24px"></i>
        </a>
      </td>
      <td>
        <a (click)="delete(list._id, i)">
          <i class="fas fa-trash-alt" style="font-size:24px;"></i>
        </a>
      </td>
    </tr>
   
  </tbody>
</table>
<pagination-controls
(pageChange)="p = $event"
style="text-align: center;"
>
</pagination-controls>
</div>